BasedOnStyle: GNU
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterClass: true
  AfterControlStatement: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
ColumnLimit: 120
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BinPackParameters: false
NamespaceIndentation: All
SortIncludes: false
AccessModifierOffset: -2
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializersBeforeComma: false
PointerAlignment: Right
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AllowShortCaseLabelsOnASingleLine: false
BreakArrays: false
BreakConstructorInitializers: BeforeComma
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpacesInParentheses: false
SpaceBeforeAssignmentOperators: true
SpaceAroundUnaryOperators: false
